.navbar
    display: flex
    justify-content: space-around
    align-items: center
    padding: 1rem
    background: #440044
    color: #f0ece9

.logo
    color: #f0ece9
    text-decoration: none
    transition: all 0.3s

    &:hover
        filter: brightness(0.8)

.optionsList
    display: flex
    justify-content: space-around
    list-style-type: none

    > li
        display: inline
        position: relative
        margin-right: 2rem
        cursor: pointer

        &::after
            content: ''
            position: absolute
            width: 100%
            height: .125rem
            bottom: -0.25rem
            left: 0
            background: #FFFFFF
            transform: scaleX(0)
            transform-origin: bottom right
            transition: transform 0.25s

        &:hover::after
            transform: scaleX(1)
            transform-origin: bottom left

        a
            color: #f0ece9
            text-decoration: none
